<%- include('../partials/header.ejs') %>
        <main>
            <h2><%= event.title %></h2>
            <div>
                <img src="<%= event.image %>" alt="close up image of a Settlers of Catan game board">
                <div>
                    <b>Host:</b> <%= event.host %><br>
                    <b>Date and Time:</b> Friday, February 3, 2023, 4:00pm - 7:00pm<br>
                    <b>Location:</b> <%= event.location %><br>
                    <b>Details:</b> <%= event.details %>
                </div>
            </div>
        </main>
<%- include('../partials/footer.ejs') %>